USE [master]
GO
/****** Object:  Database [providerDB]    Script Date: 1/30/2025 11:18:12 PM ******/
CREATE DATABASE [providerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'providerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\providerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'providerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\providerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [providerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [providerDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/30/2025 11:18:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 1/30/2025 11:18:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[Admin_Id] [int] NOT NULL,
	[User_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Admin_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[billcalls]    Script Date: 1/30/2025 11:18:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[billcalls](
	[Bill_ID] [int] NOT NULL,
	[Call_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Bill_ID] ASC,
	[Call_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bills]    Script Date: 1/30/2025 11:18:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bills](
	[Bill_ID] [int] NOT NULL,
	[PhoneNumber] [varchar](50) NULL,
	[Costs] [decimal](7, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Bill_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[calls]    Script Date: 1/30/2025 11:18:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calls](
	[Call_ID] [int] NOT NULL,
	[Description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Call_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 1/30/2025 11:18:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[Client_Id] [int] NOT NULL,
	[AFM] [varchar](50) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[User_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Client_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phones]    Script Date: 1/30/2025 11:18:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phones](
	[PhoneNumber] [varchar](50) NOT NULL,
	[Program_Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[programs]    Script Date: 1/30/2025 11:18:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[programs](
	[Program_Name] [varchar](50) NOT NULL,
	[Benefits] [text] NULL,
	[Charge] [decimal](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Program_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sellers]    Script Date: 1/30/2025 11:18:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sellers](
	[Seller_Id] [int] NOT NULL,
	[User_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Seller_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 1/30/2025 11:18:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[User_Id] [int] NOT NULL,
	[First_Name] [varchar](50) NULL,
	[Last_Name] [varchar](50) NULL,
	[Username] [varchar](50) NULL,
	[Property] [varchar](50) NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'00000000000000_CreateIdentitySchema', N'8.0.1')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250129215610_InitialCreate', N'8.0.1')
GO
INSERT [dbo].[admin] ([Admin_Id], [User_Id]) VALUES (0, 0)
GO
INSERT [dbo].[bills] ([Bill_ID], [PhoneNumber], [Costs]) VALUES (10, N'6977856320', CAST(35.00 AS Decimal(7, 2)))
INSERT [dbo].[bills] ([Bill_ID], [PhoneNumber], [Costs]) VALUES (30, N'69570033122', CAST(0.00 AS Decimal(7, 2)))
INSERT [dbo].[bills] ([Bill_ID], [PhoneNumber], [Costs]) VALUES (45, N'69570033122', CAST(23.00 AS Decimal(7, 2)))
GO
INSERT [dbo].[calls] ([Call_ID], [Description]) VALUES (10, N'20 minutes, Local')
INSERT [dbo].[calls] ([Call_ID], [Description]) VALUES (34, N'1hr, Local')
INSERT [dbo].[calls] ([Call_ID], [Description]) VALUES (68, N'3 minutes, International')
GO
INSERT [dbo].[clients] ([Client_Id], [AFM], [PhoneNumber], [User_Id]) VALUES (0, N'178866190', N'6977856320', 2)
INSERT [dbo].[clients] ([Client_Id], [AFM], [PhoneNumber], [User_Id]) VALUES (2, N'174678890', N'69570033122', 4)
INSERT [dbo].[clients] ([Client_Id], [AFM], [PhoneNumber], [User_Id]) VALUES (3, N'1790045378', N'6996090321', 3)
GO
INSERT [dbo].[phones] ([PhoneNumber], [Program_Name]) VALUES (N'69570033122', N'HugeViper')
INSERT [dbo].[phones] ([PhoneNumber], [Program_Name]) VALUES (N'6977856320', N'HugeViper')
INSERT [dbo].[phones] ([PhoneNumber], [Program_Name]) VALUES (N'6996090321', N'UltraViper')
GO
INSERT [dbo].[programs] ([Program_Name], [Benefits], [Charge]) VALUES (N'BigViper', N'2000sms, 2000minutes, 4G Roaming Data, +3.20 for E.E calls', CAST(15.00 AS Decimal(8, 2)))
INSERT [dbo].[programs] ([Program_Name], [Benefits], [Charge]) VALUES (N'HugeViper', N'3000sms, 3000minutes, 5G Roaming Data, +5.20 for E.E calls', CAST(20.00 AS Decimal(8, 2)))
INSERT [dbo].[programs] ([Program_Name], [Benefits], [Charge]) VALUES (N'MiniViper ', N'1000sms, 1000minutes, 3G Roaming Data, +1.20 for E.E calls', CAST(12.00 AS Decimal(8, 2)))
GO
INSERT [dbo].[sellers] ([Seller_Id], [User_Id]) VALUES (0, 1)
GO
INSERT [dbo].[users] ([User_Id], [First_Name], [Last_Name], [Username], [Property], [PasswordHash]) VALUES (0, N'bluu', N'clues', N'adminbluu', NULL, 0xD79D79D76D75)
INSERT [dbo].[users] ([User_Id], [First_Name], [Last_Name], [Username], [Property], [PasswordHash]) VALUES (1, N'ted', N'mosby', N'sellermosby', NULL, 0x81BD75DB6DF7)
INSERT [dbo].[users] ([User_Id], [First_Name], [Last_Name], [Username], [Property], [PasswordHash]) VALUES (2, N'nick', N'miller', N'Pepperwood22', NULL, 0x81BD75DB6DF7)
GO
ALTER TABLE [dbo].[admin]  WITH CHECK ADD FOREIGN KEY([User_Id])
REFERENCES [dbo].[users] ([User_Id])
GO
ALTER TABLE [dbo].[billcalls]  WITH CHECK ADD FOREIGN KEY([Bill_ID])
REFERENCES [dbo].[bills] ([Bill_ID])
GO
ALTER TABLE [dbo].[billcalls]  WITH CHECK ADD FOREIGN KEY([Call_ID])
REFERENCES [dbo].[calls] ([Call_ID])
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD FOREIGN KEY([PhoneNumber])
REFERENCES [dbo].[phones] ([PhoneNumber])
GO
ALTER TABLE [dbo].[clients]  WITH CHECK ADD FOREIGN KEY([User_Id])
REFERENCES [dbo].[users] ([User_Id])
GO
ALTER TABLE [dbo].[phones]  WITH CHECK ADD FOREIGN KEY([Program_Name])
REFERENCES [dbo].[programs] ([Program_Name])
GO
ALTER TABLE [dbo].[sellers]  WITH CHECK ADD FOREIGN KEY([User_Id])
REFERENCES [dbo].[users] ([User_Id])
GO
USE [master]
GO
