@model MVC_Viper.Models.RegisterModel

<h2>Register</h2>
<form method="post">
    <div>
        <label for="FirstName">First Name</label>
        <input type="text" id="FirstName" name="FirstName" value="@Model?.FirstName" required />
    </div>
    <div>
        <label for="LastName">Last Name</label>
        <input type="text" id="LastName" name="LastName" value="@Model?.LastName" required />
    </div>
    <div>
        <label for="Username">Username</label>
        <input type="text" id="Username" name="Username" value="@Model?.Username" required />
    </div>
    <div>
        <label for="Password">Password</label>
        <input type="password" id="PasswordHash" name="Password" required />
    </div>
    <div>
        <label for="ConfirmPassword">Confirm Password</label>
        <input type="password" id="ConfirmPassword" name="ConfirmPassword" required />
    </div>

    <button type="submit">Register</button>
</form>